.add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  }

  .add input {
    height: 30px;
    margin-right: 5px;
    border-radius: 5px;
    outline: none;
    padding: 1px;
  }
  .add button {
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  